/* Harita Kapsayıcısı */
.harita-kutusu {
    width: 60%; /* Masaüstünde ideal genişlik */
    height: 500px;
    margin: 20px auto;
    
    border-radius: 20px;
    border: 4px solid #14387f;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    
    overflow: hidden;    
    position: relative;
    z-index: 1;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    /* Mobilde haritayı kaydırırken sayfanın kaymasını engeller */
    touch-action: none; 
}

/* --- MOBİL UYUMLULUK --- */
@media (max-width: 768px) {
    .harita-kutusu {
        width: 95%; /* Mobilde ekrana yayılsın */
        height: 400px; /* Mobilde biraz daha kısa */
        border-width: 2px;
    }
}