.harita-kutusu {
    width: 100%; 
    height: 100%; 
    min-height: 350px;
    border-radius: 16px;
    overflow: hidden;    
    outline: none;
    touch-action: none; 
    position: relative;
    z-index: 1;
}

.leaflet-container { 
    width: 100%; 
    height: 100%; 
    font-family: 'Segoe UI', sans-serif; 
}